* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
}
/*文章最外面wrapper*/
.passage-wrapper{
	padding: 20px 16px 12px;
	max-width: 800px;
    margin: auto;
}
.paragraph{
	margin-bottom: 10px;
}
